:root {
  --bg: #161616;
  --transparent_bg:#16161698;
  --secondary: #1a74df;
  --highlight: #1973e1;
  --transparent_highlight: #1973e18a;
  --text-primary: #dadbfd;
  --text-secondary: #dadbfd8b;
}

html, body {
  margin: 0;
  padding: 0;
  padding-top: 2%;
  height: 100%;
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}


h2, .title {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-primary);
  letter-spacing: 2px;
  margin-bottom: 2rem;
  border-left: 6px solid var(--highlight);
  padding-left: 12px;
}

p {
  font-size: 1.1rem;
  font-weight: 50;
  color: var(--text-primary);
  margin-left: 10rem;
  margin-right: 10rem;
}


a {
  display: block; /* forces each link to be on its own line */
  color: var(--text-primary); /* use a light text color */
  text-decoration: underline; /* makes it look like a link */
  margin: 2px 10px; /* space between links */
  /* font-weight: 400;
  font-size: 1rem; */
  /* transition: color 0.2s ease; */
}

/* CONTENT */
/* Layout container */
.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap; /* just in case there's overflow */
}

/* Sidebar styling */
.sidebar {
  /* width: 300px; */
  width: 15%;
  background-color: var(--bg);
  color: var(--text-primary);
  padding: 20px;
  border-radius: 10px;
  flex-shrink: 0;
}

.sidebar a{
  display: block; /* forces each link to be on its own line */
  color: var(--text-primary); /* use a light text color */
  text-decoration: underline; /* makes it look like a link */
  margin: 2px 10px; /* space between links */
  /* font-weight: 400;
  font-size: 1rem; */
  /* transition: color 0.2s ease; */
}

.sidebar p{
  font-size: 1.1rem;
  font-weight: 50;
  color: var(--text-primary);
  margin-left: 0rem;
  margin-right: 0rem;
}

/* Main content styling */
.main-content {
  flex: 1;
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}

/* Responsive stacking on mobile */
@media (max-width: 600px) { /* 768px */
  .container {
    flex-direction: column;
  }

  .sidebar,
  .main-content {
    width: 100%;
    margin-right: 0;
  }

  .sidebar {
    margin-bottom: 20px;
  }
}

.social-icons {
  display: flex;
  justify-content: space-evenly; /* Even horizontal spacing */
  padding: 10px 0;
  margin-top: 10px;
}

.social-icons a {
  color: var(--text-primary);
  background-color: var(--bg);
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
  font-size: 1.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.4s ease 0s,
    background-color 0.2s ease-in-out 0.2s,
    color 0.2s ease-in-out 0.2s,
    box-shadow 0.4s ease 0s;
}

.social-icons a:hover {
  background-color: var(--highlight);
  color: var(--text-primary);
  box-shadow: 4px 4px 0 0 var(--transparent_highlight);
  transform: translateY(-4px);
  transform: translateX(-4px);
  transition:
    transform 0.4s ease 0.1s,
    background-color 0.2s ease-in-out 0s,
    color 0.2s ease-in-out 0s,
    box-shadow 0.4s ease 0.1s;
}

.link {
  display: flex;
  justify-content: left;
  padding: 10px 0;
  margin-top: 10px;
}

.link a {
  background-color: var(--secondary);
  color: var(--text-primary);
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
  font-size: 1.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.4s ease 0s,
    background-color 0.2s ease-in-out 0.2s,
    color 0.2s ease-in-out 0.2s,
    box-shadow 0.4s ease 0s;
}

.link a:hover {
  background-color: var(--highlight);
  color: var(--text-primary);
  box-shadow: 4px 4px 0 0 var(--transparent_highlight);
  transform: translateY(-4px);
  transform: translateX(-4px);
  transition:
    transform 0.4s ease 0.1s,
    background-color 0.2s ease-in-out 0s,
    color 0.2s ease-in-out 0s,
    box-shadow 0.4s ease 0.1s;
}

.profile-pic {
  width: 100%;
  border-radius: 10%;
  margin-bottom: 15px;
}

/* NAV BAR */
nav {
  background-color: var(--bg);
  width: 100%;
  padding: 10px 0px;

  text-align: right;
  display: flex;
  /* justify-content: right ; */
  justify-content: flex-end;
  gap: 1%;

  /* position: sticky; */
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav a {
  color: var(--text-primary);
  background-color: var(--bg);
  padding: 8px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition:
    transform 0.4s ease 0s,
    background-color 0.2s ease-in-out 0.2s,
    color 0.2s ease-in-out 0.2s,
    box-shadow 0.4s ease 0s;
}

nav a:hover {
  background-color: var(--highlight);
  color: var(--text-primary);
  box-shadow: 4px 4px 0 0 var(--transparent_highlight);
  transform: translateY(-4px);
  transform: translateX(-4px);
  transition:
    transform 0.4s ease 0.1s,
    background-color 0.2s ease-in-out 0s,
    color 0.2s ease-in-out 0s,
    box-shadow 0.4s ease 0.1s;
}

.list {
  font-size: 1rem;
  line-height: 1;
  color: var(--text-primary);
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  padding: 0rem,0;
  margin-left: 0;
}

.list span {
  position: relative;
  padding-right: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.05px;
  transition: color 0.2s ease-in-out;
}


.list span::after {
  content: "|";
  /* content: "•"; */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-primary);
  font-size: 1.5rem;
  opacity: 0.2;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1%;
  padding: 1% 0;
}

.project-tile {
  /* display: block; */
  display: flex;
  flex-direction: column;

  background-color: var(--secondary);
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: var(--text-primary);
  transition:
    transform 0.4s ease 0s,
    box-shadow 0.4s ease 0s;
}

.project-tile:hover {
  transform: translateX(-8px);
  box-shadow: 8px 8px 0 0 var(--transparent_highlight);
  transition:
    transform 0.4s ease 0.1s,
    box-shadow 0.4s ease 0.1s;
}

.project-tile img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.project-info {
  padding: 3%;
}

.project-info h2 {
  margin: 0 0 10px;
  font-size: 1.25rem;
  font-family: 'Orbitron', sans-serif;
}

.project-info p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1;
}

li {
  list-style: none;
  margin: 6px 0;
  padding: 4px 6px;
  background-color: var(--transparent_highlight);
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;        /* allow content to wrap */
  justify-content: space-between;
  align-items: flex-start;
}

.book-title {
  display: inline;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-primary);
  flex: 1 1 auto;         /* allow growing and shrinking */
  min-width: 50%;         /* to help wrap when space is tight */
}

.book-author {
  display: inline;
  font-size: 0.8rem;
  color: var(--text-secondary);
  font-style: italic;
  float: right;
  margin-left: auto;      /* push to right when there's space */

}
